@inherits ServiceStack.Razor.ViewPage<WebTest.Article>

@{
    Layout = "Default";
}

    <div>
        <h1>
            <a href="/Article/Id/@(Model.Id.ToString()+".html")">@Model.Title</a>
        </h1>
		<p>@Model.AuthorName, @Model.Created, [@Model.CategoryString()]</p>
    <p>
      @Html.Raw(Model.ContentHtml())
    </p>
	</div>
