<table>
  <% this.forEach(function(row){ %>
	<tr>
    <td>
      <input class="delete" id="<%= row.Id %>" type="checkbox"/>
    </td>
		<td><%= row.Id %></td>
		<td><%= row.Caption %></td>
    <td>
      <%= row.Link %>
    </td>
	</tr>
  <% }) %>
</table>